* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', sans-serif;
}

.container {
    background-color: #232946;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

#text {
    background-color: #eebbc3;
    color: #b8c1ec;
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    padding: 20px;
    border-radius: 10px;
    font-size: 3rem;
}

.d-none {
    display: none;
}

#score {
    color: white;
    font-size: 3rem;
    text-align: center;
    border-radius: 10px;
    border: 1px solid #eebbc3;
    padding: 20px;
}

.d-block {
    display: block;
}